<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CI/CD with Jenkins and AWS EC2</title>
<style th:inline="text">
/* #image{
    background: url([[@{/images/logo.png}]])
    		 	no-repeat center center fixed;
    } */
 .container {
        height: 100px;
        background-color: #006666;
  }
  
  .column1 {
  float: left;
  width: 60%;
  }
  
  .column2 {
  float: left;
  width: 40%;
  margin-top : 30px;
  }

</style>
</head>
<body>
<div align="center" class="container">
<br>
	<h1>Welcome To CI/CD with Jenkins and AWS EC2</h1>
</div>
<div class="column1">
	<img th:src="@{/images/logo.png}" border="0" 
    	 alt="LoginIcon" width="900" height="600"/>
    	 
    	 </div>
    	 <div class="column2" align="center">
    <form th:action="@{/processlogin}" method="post">
    	<table>
			<tr>
				<td>UserName </td>
				<td><input type="text" name="username" id="username" autofocus="autofocus" Maxlength=50 required></td>
			</tr>
			<tr>
				<td>Password </td>
				<td><input type="password" name="password" id="password" Maxlength=50 required></td>
			</tr>
		</table>
		<br>
		<input type="submit" id="loginbutton" value="  Login  ">
		<p th:text="${error}" style="color: red"></p>
	</form>
</div>
<div align="center">
<br>
<br>
 <h2>Congratulations !!!</h2>
 <h3>You have successfully integrated GitHub and Jenkins with AWS EC2 and deployed your SpringBoot Application</h3>
</div>
</body>
</html>